@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Montserrat&family=Playfair+Display&family=Roboto&display=swap");
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  min-height: 100%;
}

main {
  padding: 0 50px 0 50px;
  height: 100vh;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 30px;
  border-bottom: 1px solid rgba(17, 71, 102, 0.1);
  padding: 10px;
}

.nav-link:hover {
  color: white;
  background-color: rgba(23, 104, 158, 0.1);
}

.navbar-container {
  background-color: rgba(0, 129, 203, 0.1);
  height: 100vh;
  overflow: hidden;
}

.navbar-welcome {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.name {
  font-size: 40px;
  color: black;
}

.navbar-top {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  margin-bottom: auto;
}

.navbar-bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.navbar-unauth {
  display: flex;
  flex-direction: column;
}
